/.phpunit.cache
/bootstrap/ssr
/node_modules
/public/build
/public/build-tmp
/public/temporales
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
/rsync
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
.editorconfig
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
composer.lock
package-lock.json
nodemon.json
.htaccess
deploy.sh
post-merge
/.fleet
/.idea
/.nova
/.vscode
/.zed
/.htaccess